@import url('https://fonts.googleapis.com/css2?family=Poppins:wght@300;400;800&display=swap');
// variables
@import 'footer';
$bg-color:black;
*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-family: 'Poppins',sans-serif;
}
@mixin display-center{
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
}

body{
    @include display-center();
    background-color:$bg-color;
}
.intro{
    @include display-center();

    h1{
color: white;
font-size: 50px;
letter-spacing: 3px;
    };
}

